<div class="bodyCnt">
  <div class="wraper">
    <div id="inner-main">
      <div class="subNavCnt">
        <h1>New Sequence</h1>
        <div class="moreLinks">
          <ul>
            <li>
              <%= link_to 'Back', admin_banners_path %>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="wraper">
        <%= form_for([:admin,@banner],:html=>{:multipart =>true} ) do |f| %>
          <div class="sectionCnt">
            <h2>
              Banner
            </h2>
            <div class="formLayout">
              <div class="row">
                <%= f.label :avatar %>
                <%= f.file_field :avatar %>
                <div class="clear"></div>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="clear"></div>
</div>
