<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>XD</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="main-container">
    <% if !((params[:controller] == "devise/sessions") and (params[:action] == "new")) %>
      <%#= render :partial => "shared/header_content" %>
      <%= yield %>
      <%= render :partial => "shared/footer_content" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>

